html {
  position: relative;
  min-height: 100%;
  box-sizing: box-border;
}

body {
  margin: 0;
}

header {
  position: fixed;
  height: calc(80px - 1px);
  top: 0;
  left: 0;
  right: 0;
  background: #590bff;
  color: white;
  z-index: 1;
  padding-left: 20px;
}

nav {
  position: absolute;
  left: 2%;
  top: 5%;
  z-index: index 0;
  height: 25%;
  border-right: 2px solid #c4c4c4;
  padding-right: 10px;
}

a {
  display: block;
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

main {
  position: relative;
  left: 250px;
  top: 0;
  z-index: 0;
  margin-top: 100px;
  padding-bottom: 20px;
  width: 1000px;
}

h2 {
  padding-left: 10px;
}

ul {
  list-style: none;
  padding-inline-start: 10px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 20px;
}
li::first-letter {
  font-weight: 700;
}
.div-head {
  position: sticky;
  top: 80px;
  background: #590bff;
  color: white;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #590bff;
  text-align: center;
}
