* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #99ffa3;
  font-family: Verdana, sans-serif;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  text-align: center;
  width: 30%;
  min-width: 200px;
  height: 70vh;
  background-color: #117f1c;
  padding: 20px;
  margin: 10px 5px;
  border-radius: 10%;
  box-shadow: 5px 5px #0b3d10;
}

.product-image {
  height: 30%;
  border-radius: 10%;
}

.product-name {
  color: #fff;
}
.product-price {
  color: #000;
}

.btn {
  background-color: #f00;
  color: #fff;
  border-radius: 10%;
  font-size: 20px;
}
